* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	background: $background-light;
	color: $color-dark;
	display: flex;
	flex-direction: column;
	font-weight: $weight-norm;
	text-align: start;
	text-rendering: optimizeLegibility;
	transition: background 0.2s linear;
	a {
		color: $black;
		text-decoration: none;
	}
}

.dark {
	background: $background-dark;
	color: $color-light;

	#logo {
		a {
			color: $green;
		}
	}

	a {
		color: $color-green;
	}

	.profile__card {
		.card__img {
			#headshot {
				border: 3px solid $grey3;
			}
		}
	}
}

.App {
	ul {
		list-style-type: none;
	}

	@include respond-above(xs) {
		// margin: 0 1rem;
		// max-width: 768px;
	}
}

header {
	line-height: 1.7;
	margin: 0 1rem;
	padding-top: 30px;
	min-height: 150px;
}

.wrapper_main {
	margin: 0 1rem;
	// max-width: 768px;
}
