* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: $background-light;
	color: $color-dark;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: $weight-norm;
	text-align: start;
	text-rendering: optimizeLegibility;
	transition: background 0.2s linear;
}

body.dark {
	background: $background-dark;
	color: $color-light;
}

.App {
	@include respond(tab-mini) {
		margin: 0 auto;
		max-width: 768px;
		@media (prefers-reduced-motion: no-preference) {
			#headshot {
				animation: App-logo-spin 1 700ms ease-in-out;
				// animation-delay: 1s;
			}
		}

		@keyframes App-logo-spin {
			from {
				transform: rotateY(0deg);
			}
			to {
				transform: rotateY(360deg);
			}
		}
	}

	p {
		// @include respond(phone-plus) {
		// 	color: blue;
		// }
	}
	a {
		text-decoration: none;
	}
	ul {
		list-style-type: none;
	}
}
