$background-dark: #272727;
$background-light: #f7f9fb;

$color-dark: #272727;
$color-light: #fafafa;

$color-dark2: #1b1b1b;

$color-grey: #666;
$color-lgrey: #c9cacc;
$color-blue: #61dafb;
$color-green: #2bf3c4;

$fs-big: 2.4rem;

$weight-mid: 500;
$weight-heavy: 700;
$weight-norm: 400;

$transition-hl: 150ms ease;

$shadow-360: 0 10px 25px 5px rgba(0, 0, 0, 0.2);