header {
    line-height: 1.7;
	margin: 0 1rem;
	padding-top: 30px;
	min-height: 150px;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	#logo {
		font-size: $fs-big;
		font-weight: $weight-heavy;
        letter-spacing: 0.2rem;
        margin-left: 8px;
		a {
			color: $color-grey;
			
		}
		a:hover {
			color: $color-dark;
		}
	}
	#nav__list {
		text-align: end;
		font-weight: $weight-mid;
        font-size: 0.8rem;
        letter-spacing: 0.02rem;
	}
    a {
        color: $color-dark;
    }
    a:hover {
        background-color: $color-green;
        color: $color-dark2;
        transition: $transition-hl;
    }
}
